html, body {
  overflow-x: hidden;
}

body {
  height: 500vh; /* This controls how much scrolling is required to finish the animation */
  background: #000;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

canvas {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
}

#brand-name {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 5rem;
  font-weight: 800;
  z-index: 2;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
